{% extends "base.html" %}

{% block navbar %}
		<a href="#" class="navbar-brand navbar-link">Progress</a>
		
		<ul class="navbar-nav">
			{% if data and data.get('masechtas') %}
			<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Masechtos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!-- Filled in by javascript !-->
        </div>
    	</li>
    	{% endif %}
		</ul>

		{% if data %}
		<a class="settings-button float-right navbar-link" href="#">
			Settings
		</a>
		{% endif %}
		
		<a class="logout-button float-left navbar-link" href="/logout">
			Logout
		</a>
{% endblock %}

{% block main_content %}
{% if summary %}
	<h1 class="summary__heading">Summary</h1>
		<div class="summary">
			<p class="summary__item">Total Pledge: {{ summary.get('pledge') }}</p>
			<p class="summary__item">Completed: {{ summary.get('completed') }}</p>
			<p class="summary__item">Remaining: {{ summary.get('remaining') }}</p>
			<p class="summary__item">Daily Average: {{ summary.get('average') }}</p>
		</div>
{% else %}
	<div class="get-started-card">
		<a href="#">GET STARTED</a>
	</div>
{% endif %}

{% endblock %}

{% block javascript %}
	<script src="{{ url_for('static', filename='js/get_data.js') }}"></script>
	<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}